.site-footer {
  margin-top: 70px;
}
.site-footer__inner {
  padding: 22px 0 27px;
}
.site-footer-boottom-text {
  font-size: 13px;
  line-height: 190.6%;
}
.first {
  max-width: 335px;
}
.site-logo {
  margin-bottom: 30px;
}
.about-us {
  width: 90px;
}
.list-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
}
.contact-us {
  width: 282px;
}
.contact-us-text {
  margin-bottom: 11px;
}

.social-img {
  width: 54px;
  height: 54px;
}

@include mobile-first(1040px) {
  .site-footer {
    margin-top: 148px;
  }

  .site-footer {
    &::after {
      position: absolute;
      bottom: 83px; 
      @include psevdoelements(inline-block, 100%, 1px,"");
      background-color: #D2D2D2;
    }
  }

  .site-footer-top {
    display: flex !important;
    margin-top: 44px;
    margin-bottom: 82px;
  }
}